:root {
    --dark: #444;
    --light-gray: #eee;
    --medium-gray: #ddd;
    --white: #ffffff;
    --light: #f0f0f0;
    --cyan: #509c93;
    --gray: #6a6a6a;
    --darker: #222;
}


html {
    background: var(--light);
}

::selection {
    background: var(--medium-gray);
    opacity: 0.3;
}


body {
    max-width: 700px;
    margin: auto;
    background: var(--white);
}

a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    word-wrap: break-word;
}

.heading {
    font-family: "InterVar", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif;
    padding-top: 1rem;
    padding-left: 1rem;
}


nav {
    background: var(--light);
}

nav a {
    color: var(--darker);
    border-bottom: 1.5px solid var(--medium-gray);

}

nav ul {
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding-right: 1rem;
}

ol {
    padding: 0;
    margin-top: 10px;
    counter-reset: counter;
}

ol li {
    counter-increment: counter;
}

table {
  table-layout: fixed;
  width: 100%;
}


table a {
  text-decoration: none;
}

td {
  padding: 7px 11px 7px 11px;
}

td p#subtitle {
  color: var(--gray);
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}



.content h1, h2, h3 {
    font-family: "InterDisplay", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", sans-serif;
    font-weight: 500;
}

.content h1 {
    font-size: 20px;
    padding: 10px 0 10px 0;
}

.content h2 {
    font-size: 18px;
}

.content h3 {
    font-size: 16px;
}

.content h2, h3 {
    padding: 20px 0 5px 0;
    text-decoration: underline;
}

.content a {
    color: var(--darker);
    border-bottom: 1.5px solid var(--medium-gray);
}

.content ul, .content ol {
    margin: 0 30px 7px 30px;
}

.content ul ul {
    margin-bottom: 0
}


a:hover {
    border-bottom: 1.5px solid var(--gray);
}


.content {
    padding: 1rem;
}

.content article img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 10px auto 4px auto;
}


pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    min-width: 0;
    background-color: var(--light-gray) !important;
    margin-bottom: 10px;
}

code {
    font-size: 0.9rem;
    background-color: var(--light-gray);
}

hr {
    max-width: 100%;
    text-align: left;
    margin: 10px 0 10px 0;
}

blockquote {
    margin: 7px 0 7px 0;
}

blockquote p {
    font-style: italic;
    color: var(--darker);
    padding-left: 20px;
    border-left: 1.5px solid var(--medium-gray);
}


footer {
    margin-top: 0.5em;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 80%;
    color: #bbb;
}

footer a {
    color: #bbb;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
